<h1><%= @project.name %></h1>
<div class="link_button">
    <%= link_to  "作業対象の追加", new_user_project_work_target_path %>
</div>
<table>
    <tr>
        <th>ID</th>
        <th>作業対象</th>
    </tr>
    <% @work_targets.each do |w| %> 
    <tr>
        <td><%= w.id %></td>
        <td><%= link_to w.name, user_project_work_target_flags_path(@user,@project,w.id) %></td>
    </tr>
    <% end %>
</table>