<button type='submit' form='check_list'>スケジューリングの割当</button>
<div clas='tableContainer'>
    <table class='task_table'>
        <tr>
            <th>ユーザー</th>
            <th>プロジェクト</th>
            <th>アウトプット</th>
            <th>フラグ</th>
            <th>タスク</th>
        </tr>
        <% user_tasks.each do |task| %>
            <tr>
            <% task.each do |column| %>
                <td><%= column %></td>
            <% end %>
            </tr>
        <% end %>      
    </table>
</div>