<h1>ログイン</h1>
<% if flash.alert %>
  <p><%= flash.alert %></p>
<% end %>
<%= form_tag :session,id: "login_form" do %>
    <div>
        <label for="user-name-field">ユーザー名</label>
        <input id="user-name-field" type="text" name="name">
    </div>
    <div>
        <label for="password-field">パスワード名</label>
        <input id="password-field" type="password" name="password">
    </div>
    <input type="submit" value="ログイン">
<% end %>