.main {
  margin: 20px auto;
}
table,
td,
th {
  border: solid 1px;
}
th {
  background-color: rgb(245, 182, 127);
}
#wrapper {
  width: 1200px;
  height: auto;
  text-align: center;
  display: block;
  margin: 0 auto;
}
table {
  margin: 0 auto;
}
.link_button {
  text-align: right;

  margin-bottom: 10px;
}
.link_button a {
  font-size: 20px;
}

h1 {
  font-size: 35px;
}
a {
  color: black;
  text-decoration: none¥;
}
a:hover {
  color: orange;
}
.check_table,
.task_table {
  float: left;
}
.check_table tr:not(:nth-child(1)),
.task_table tr:not(:nth-child(1)) {
  height: 52px;
}
.tableContainer {
  overflow: hidden;
}
#unassigned-tasks {
  float: left;
  width: 150px;
  padding: 0 10px;
  border: 1px solid #ccc;
  background: #eee;
  text-align: left;
}
.main-wrap {
  float: left;
}
ul {
  list-style: none;
}
.text-center-small {
  margin-top: 3px;
  font-size: 12px;
  text-align: center;
}
